
html, body {
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
}

.pin-input {
  width:100%;
  max-width: 500px;
  margin:0 auto;
}

.pin-btn {
  width: calc(100% / 3);
  padding:0;
  margin:0;
  border:0;
  height:100px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  cursor: pointer;
}

.pin-btn:hover {
  background-color:#e1e0e0;
}

.pin-input-display {
  display:block;
  width: calc(100%/1.5);
  border:0;
  height: 100px;
  text-indent: 10px;
  padding:0;
}

.pin-display-screen {
  display:flex;
}

#pin_button_0 {
  width: calc(100%/1.5);
}

.text-center {
  text-align: center;
}

.error {
  color: red;
}

.disable-text-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

