@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,500&display=swap');

html, body {
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  width:98%; 
  margin: 0 auto;
  display: block;
}

.pin-input {
  width:100%;
  max-width: 500px;
  margin:0 auto;
}

.pin-btn {
  width: calc(100% / 3);
  padding:0;
  margin:0;
  border:0;
  height:100px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  cursor: pointer;
}

.pin-btn:hover {
  background-color:#e1e0e0;
}

.active {
  background-color: #cecdcc;
}

.pin-input-display {
  display:block;
  width: calc(100%/1.5);
  border:0;
  height: 100px;
  text-indent: 10px;
  padding:0;
}

.pin-display-screen {
  display:flex;
}

#pin_button_0 {
  width: calc(100%/1.5);
}

.text-center {
  text-align: center;
}

.error {
  color: red;
}

.disable-text-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.pin-entry-screen span {
  display:block;
  margin:0;
}

.pin-entry-screen span.error {
  margin-top:10px;
  margin-bottom:10px;
}

.user-home {
  display:flex;
  flex-direction: column-reverse;
  height:100vh;
  max-width: 1200px;
  margin:0 auto;
}

.user-home svg {
  font-size: 2em;
}

.user-home :is(.left-column, .right-column) {
  --margin: 5px;
  position:relative;
  border:1px solid #ccc;
  height: calc(100vh - var(--margin));
  margin: var(--margin);
  text-align: center;
  cursor: pointer;
}

.user-home :is(.left-column, .right-column):hover {
  background-color: #f4f4f4;
}

.user-home :is(.left-column, .right-column) > .content {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.back-button {
  position:fixed;
  left:10px;
  top: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 100%;
  width:40px;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  cursor:pointer;
}

.back-button:hover {
  background-color:#ccc;
}

.mood-entry-details {
  width:100%;
  box-sizing: border-box;
  padding:10px;
  text-align: left;
  margin: 0 auto;
}

.btn {
  margin-top: 10px;
  cursor:pointer;
}

.btn.mood {
  --width: 100px;
  --height: 100px;
  margin:0 auto;
  border:0;
  padding:0;
  background-color: transparent;
  color:#000;
  border-radius: 100%;
  width: var(--width);
  height: var(--height);
  font-size: var(--width);
  display:flex;
  transition:0.2s;
}

.btn.mood.active {
  background-color: #7975ff;
  color:#fff;
  transform: translateY(-10px) rotate(45deg);
  margin-top:20px;
}

.btn.mood:hover:not(.active) {
  color: #fff;
  background-color: #222;
  transform: translateY(-10px);
}

.btn.right {
  float:right;
}

.mood-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading {
  font-size: 2em;
  animation: spin 1s linear infinite;
}

.weatherDetails {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  margin-bottom:20px;
  flex-direction: column;
}

#weatherIcon {
  background-color: #222;
  border-radius: 100%;
  max-width: 50px;
  margin-left:10px;
}

#temperature {
  margin-left: 10px;
}


.modal {
  height:100%;
  top:0;
  left:0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: left;
  position:relative;
  z-index: 2;
}

.modal .modal-header svg {
  color: #2c2c2c;
}

.modal .modal-header {
  border-radius: 5px 5px 5px 5px;
  border-bottom:1px solid #ece7e7;
  display: flex;
  justify-content: space-between;
}

.modal .modal-header .modal-controls button {
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  background-color: transparent;
  border:0;
  color: #fff;
  padding:0;
}

.modal .modal-header .modal-controls {
  display:flex;
  justify-content: flex-end;
}

.modal .modal-body {
  border-bottom:1px solid #ece7e7;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.726);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
}

.modal .modal-footer {
  position:relative;
  display: flex;
  flex-direction: column-reverse;
}

.modal .modal-footer .btn {
  padding:10px;
  border:0;
  border-radius: 5px;
  color:#fff;
  background-color: #5a6268;
  width:100%;
}

.modal .modal-footer .btn:nth-child(even) {
  background-color: #007bff;
}

.modal .modal-body {
  /* border-top: 1px solid #171616; */
}

.hidden {
  display:none;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .modal .modal-footer {
    display:flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
  }

  .modal .modal-footer .btn {
    margin-left: 10px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .weatherDetails, .mood-selector {
    flex-direction: row;
  }
  .btn.mood {
    margin:0;
  }
  .btn.mood.active {
    margin-top:0;
  }
  .modal .modal-footer .btn {
    width: auto;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .user-home {
    flex-direction: row;
  }
  .user-home :is(.left-column, .right-column) {
    width:calc(100% / 2); 
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

